SYMBOL_CONFIG=config/symbols_config.json
TOP_N=52
FUNDING_INTERVAL_SEC=15
LOG_LEVEL=info

REDIS_HOST=13.112.42.154
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_STREAM_MAXLEN=200000

BINANCE_WS_URL=wss://fstream.binance.com/ws
BINANCE_REST_URL=https://fapi.binance.com
BINANCE_PAPI_REST_URL=https://papi.binance.com
GATE_WS_URL=wss://fx-ws.gateio.ws/v4/ws/usdt
GATE_UNIFIED_WS_URL=wss://ws.gate.com/v4/ws/unified
GATE_REST_URL=https://api.gateio.ws/api/v4

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=arbidata
MYSQL_CONNECTION_LIMIT=10

SYNC_ENABLED=true
SYNC_INTERVAL_MS=300000
SYNC_BEFORE_MS=300000
SYNC_BATCH_SIZE=1000
SYNC_CONCURRENCY=5
REDIS_MAX_AGE_MS=3600000
SYNC_TRIM_BY_ID=true

# Demo cex-cex arb live order credentials (fill by yourself)
BINANCE_API_KEY=
BINANCE_API_SECRET=
GATE_API_KEY=
GATE_API_SECRET=
